.intro-container{
    position: relative;
    min-height: 100vh;
    scroll-snap-align: start;
    background: linear-gradient(to bottom, #FFBE98, #FFCCA4);
    z-index: 15;
}

a{
    color:#ca1f1f;
}

.intro-content{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.dpText{
    font-family: ivypresto-display, serif;
    font-weight: 400;
    font-style: normal;
}

.list-item{
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 0.125rem;
    font-family: "lemon-sans-next-condensed", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

.intro-list{
    padding-left: 0;
    margin-left: 0;
}

.list-1{
    padding-left: 0;
    padding-bottom: 0.25rem;
    font-weight: 600;
    color: #5D4735;
}

.list-2{
    font-weight: 600;
    color: #2D221A;
}

.list-3{
    font-style: italic;
}

.row{
    margin:0
}
.title{
    margin-bottom: 0.1em;
}

.horizontalLine{
    color:gray;
}

.introDesc{
    font-family: "lemon-sans-next-condensed", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .list-item {
        padding-left: 0;
        margin-left: 0;
        padding-bottom: 0.125rem;
        font-family: "lemon-sans-next-condensed", sans-serif;
        font-weight: 400;
        font-size: 1em;
        display: flex; /* Use flexbox for easier alignment */
        justify-content: space-between;
    }

    .list-1 {
        padding-left: 0;
        padding-bottom: 0.25rem;
        font-weight: 400;
        flex: 1; /* Allow list-1 to fill available space */
        text-align: left; /* Align text to the left */
    }

    .list-2 {
        display: none; /* Hide list-2 on mobile */
    }

    .list-3 {
        font-style: italic;
        text-align: right; /* Align list-3 to the right */
    }
}