.intro-container{
    position: relative;
    min-height: 100vh;
    scroll-snap-align: start;
    background: linear-gradient(to bottom, #FFBE98, #FFCCA4);
    z-index: 15;
}

a{
    color:#fd3131;
}

.intro-content{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.dpText{
    font-family: ivypresto-display, serif;
    font-weight: 400;
    font-style: normal;
}

.list-item{
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 0.125rem;
}

.intro-list{
    padding-left: 0;
    margin-left: 0;
}

.list-1{
    padding-left: 0;
    padding-bottom: 0.25rem;
    font-weight: 600;
    color: #5D4735;
}

.list-2{
    font-weight: 600;
    color: #2D221A;
}

.list-3{
    font-style: italic;
}

.row{
    margin:0
}
.title{
    margin-bottom: 0.1em;
}

.horizontalLine{
    color:gray;
}