.main-bg {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 300vh;
  background: green;
  overflow: hidden;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  min-height: 100vh; /* 100% of the viewport height */
  /* Other styling for the section */
}

.main-container {
  /* Other styling */
}
