.snap-point {
    position: relative;
    height: 100vh;
    scroll-snap-align: start;
    background-color: #FFBE98;
    display:flex;
    justify-content: center;
    align-items: center; 
    z-index: 0;
}
.welcome-section{
    font-family: ivypresto-display, serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-weight: 400;
}
.benNames{
    width: 80vw;
    z-index: 5;
}
.game {
    position: relative;
    width: 60vw;
    height: 60vh;
    margin: auto;
    overflow: hidden;
}