.title{
    font-size: 4em;
    padding-bottom: 1em;
    font-family: ivypresto-display, serif;
    font-weight: 400;
    font-style: normal;
    color:#2D221A;
}
.works-bg{
    position: relative;
    scroll-snap-align: start;
    min-height: 100vh;
    background-color:  #EECFB8;
    z-index: 15;
}

.works-container{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.work-title{
    font-size: 1.5em;
    color:#5D4735;
}

.works-list {
    list-style: none;
    padding: 0;
}

.work-item {
    cursor: pointer;
    padding-bottom: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    border-radius: 5px;
    width:80vw;
    background: #EECFB8;
    box-shadow: 2.5px 2.5px 8px #eac5a9,
               -2.5px -2.5px 8px #f4e1d2;
    transition: box-shadow 0.25s ease,
                background-color 0.25s ease;
}

.work-item-selected {
    box-shadow: inset 2.5px 2.5px 8px #eac5a9,
                inset -2.5px -2.5px 8px #f3dece;
    background:#edcdb5;
}

.work-details {
    margin-top: 10px;
    padding: 10px;
    background-color: #807a7a;
}

@media only screen and (max-device-width: 1000px){
    .thumbnail {
        position: fixed;
        display: block;
        max-width: 50vw;
        max-height: 50vh;
    }
}
@media only screen and (min-device-width: 1001px){
    .thumbnail {
        position: fixed;
        display: block;
        max-width: 15vw;
        max-height: 15vh;
    }
}
.thumbnailImage {
    max-width: 100%;
    max-height: 100%;
}
.unfoldedSection-head{
    width: 100%;
}
.UnfoldRight{
    text-align: end;
}

.row>*{
    margin:0;
    padding-left: 0;
}