.title{
    font-size: 4em;
    padding-bottom: 1em;
    font-family: ivypresto-display, serif;
    font-weight: 400;
    font-style: normal;
    color:#2D221A;
}
.works-bg{
    position: relative;
    min-height: 100vh;
    background-color:  #FFCCA4;
    z-index: 15;
}

.works-container{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.work-title{
    font-family: "lemon-sans-next-condensed", sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    color:#5D4735;
}

.works-list {
    list-style: none;
    padding: 0;
}

.work-item {
    font-family: "lemon-sans-next-condensed", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    cursor: pointer;
    padding-bottom: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    border-radius: 5px;
    width:80vw;
    color: #303030;
    background: #FFCCA4;
    box-shadow: 2.5px 2.5px 8px #f1b689,
               -2.5px -2.5px 8px #f3cbad;
    transition: box-shadow 0.25s ease,
                background-color 0.25s ease;
}

.work-item-selected {
    box-shadow: inset 2.5px 2.5px 8px #f1b689,
                inset -2.5px -2.5px 8px #f3cbad;
    background:#fac49a;
}

.work-details {
    margin-top: 10px;
    padding: 10px;
    background-color: #807a7a;
}

@media only screen and (max-device-width: 1000px){
    .thumbnail {
        position: fixed;
        display: block;
        max-width: 50vw;
        max-height: 50vh;
    }
}
@media only screen and (min-device-width: 1001px){
    .thumbnail {
        position: fixed;
        display: block;
        max-width: 15vw;
        max-height: 15vh;
    }
}
.thumbnailImage {
    max-width: 100%;
    max-height: 100%;
}
.unfoldedSection-head{
    width: 100%;
}
.UnfoldRight{
    text-align: end;
}

.row>*{
    margin:0;
    padding-left: 0;
}

.workImages{
    width: 95%;
    height: auto;
    margin-bottom: 1vh;
}

iframe{
    min-height: 40vh;
}

.contacts-bg{
    display: flex;
    position: relative;
    min-height: 50vh;
    background-color:  #584433;
    z-index: 15;
    justify-content: center;
    align-items: center;
}

.snap{
    scroll-snap-align: start;
}

.button {
    height: 4em;
    width: 20em;
    border: none;
    border-radius: 0;
    background-color: #584433;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .button .container {
    z-index: 5;
    width: 0;
    position: relative;
    display: flex;
    justify-content: center;
    transition: all 0.4s;
    height: 100%; /* Fill the entire height */
    align-items: center;
    background-color: #584433; /* Ensure the container has the same color */
  }
  
  .button .container svg {
    padding: 0 10px;
  }

  .buttonicon{
    max-width: 2.5em;
    max-height: 2.5em;
    margin-left:1em;
    margin-right:1em;
    fill:#fff;
  }
  
  